cchardet
pylibyaml
pyYAML
click-spinner
colorlog
colorama
halo
pendulum
pycentral
pygments
shellingham
tabulate
tinydb
typer
aiohttp
asyncio
tablib
rich
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
